[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

slow_query_log=1
long_query_time=0.5
slow_query_log_file=/var/log/mysql-slow.log
transaction-isolation = READ-COMMITED

# max connections
max_connections=1024

character-set-server=utf8
default-storage-engine = InnoDB

wait_timeout=604800

[mysql]
show-warnings
default-character-set=utf8

